In [1]:
import os
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

from sklearn.linear_model import LinearRegression

In [3]:
data = {
    'Alfred': [3.0, 4.0, np.nan, 4.0, 4.0],
    'Mandy': [np.nan, 9.0, np.nan, 3.0, 8.0],
    'Lenny': [2.0, 5.0, 8.0, 9.0, np.nan],
    'Joan': [3.0, np.nan, 9.0, 4.0, 9.0],
    'Tino': [1.0, 1.0, np.nan, 9.0, 5.0],
    'slick': [8, 8, 2, 2, 9],
    'lofi': [2, 2, 9, 10, 3]
}

reviews = pd.DataFrame(data, index=['Michael Jackson', 'Clint Black', 'Dropdead', 'Anti-Cimex', 'Cardi B'])

reviews

                 Alfred  Mandy  Lenny  Joan  Tino  slick  lofi
Michael Jackson     3.0    NaN    2.0   3.0   1.0      8     2
Clint Black         4.0    9.0    5.0   NaN   1.0      8     2
Dropdead            NaN    NaN    8.0   9.0   NaN      2     9
Anti-Cimex          4.0    3.0    9.0   4.0   9.0      2    10
Cardi B             4.0    8.0    NaN   9.0   5.0      9     3

In [4]:
#  Considering Alfred
X = reviews.dropna(subset = ['Alfred'])[['slick', 'lofi']]
y = reviews['Alfred'].dropna()
alfred_lr = LinearRegression().fit(X, y)
newx = reviews[reviews['Alfred'].isnull()][['slick', 'lofi']]

newx

          slick  lofi
Dropdead      2     9

In [5]:
alfred_dd_predict = alfred_lr.predict(newx)

alfred_dd_predict

array([3.75])

In [9]:
# Alfred's user vector
# Assign the coefficients of the linear regressions model `alfred_lr` to `alfred_vector` below. 

alfred_vector = alfred_lr.coef_
pd.DataFrame(alfred_vector.reshape(1, 2), columns = ['slick', 'lofi'], index = ['Alfred'])

        slick  lofi
Alfred   0.25  0.25

In [7]:
# Considering Tino
X = reviews.dropna(subset = ['Tino'])[['slick', 'lofi']]
y = reviews['Tino'].dropna()
tino_lr = LinearRegression().fit(X, y)
newx = reviews[reviews['Tino'].isnull()][['slick', 'lofi']]

newx

          slick  lofi
Dropdead      2     9

In [8]:
tino_dd_predict = tino_lr.predict(newx)

tino_dd_predict

array([6.71428571])

In [10]:
# Tino's user vector
# Assign the coefficients of the linear regressions model `tino_lr` to `tino_vector` below. 
tino_vector = tino_lr.coef_

pd.DataFrame(tino_vector.reshape(1, 2), columns = ['slick', 'lofi'], index = ['Tino'])

         slick      lofi
Tino  1.714286  2.285714

In [11]:
# Completing the Table

for name in reviews.columns:
    try:
        X = reviews.dropna(subset = [name])[['slick', 'lofi']]
        y = reviews[name].dropna()
        alfred_lr = LinearRegression().fit(X, y)
        newx = reviews[reviews[name].isnull()][['slick', 'lofi']]
        alfred_dd_predict = alfred_lr.predict(newx)
        #print(newx.index, name, alfred_dd_predict)
    except:
        pass

reviews_df_full = reviews.copy()
reviews_df_full.loc['Dropdead', 'Alfred'] = 3.75
reviews_df_full.loc[['Michael Jackson', 'Dropdead'], 'Mandy'] = [9, 3.85]
reviews_df_full.loc[['Cardi B'], 'Lenny'] = [4.91666667]
reviews_df_full.loc[['Clint Black'], 'Joan'] = [4.66444444]
reviews_df_full.loc[['Dropdead'], 'Tino'] = [6.71428571]


### ANSWER CHECK
reviews_df_full

                 Alfred  Mandy     Lenny      Joan      Tino  slick  lofi
Michael Jackson    3.00   9.00  2.000000  3.000000  1.000000      8     2
Clint Black        4.00   9.00  5.000000  4.664444  1.000000      8     2
Dropdead           3.75   3.85  8.000000  9.000000  6.714286      2     9
Anti-Cimex         4.00   3.00  9.000000  4.000000  9.000000      2    10
Cardi B            4.00   8.00  4.916667  9.000000  5.000000      9     3