In [1]:
import pandas as pd
import numpy as np

In [2]:
data = {
    'Michael Jackson': [3.0, np.nan, 2.0, 3.0, 1.0],
    'Clint Black': [4.0, 9.0, 5.0, np.nan, 1.0],
    'Dropdead': [np.nan, np.nan, 8.0, 9.0, np.nan],
    'Anti-Cimex': [4.0, 3.0, 9.0, 4.0, 9.0],
    'Cardi B': [4.0, 8.0, np.nan, 9.0, 5.0]
}

reviews = pd.DataFrame(data, index=['Alfred', 'Mandy', 'Lenny', 'Joan', 'Tino'])
reviews

        Michael Jackson  Clint Black  Dropdead  Anti-Cimex  Cardi B
Alfred              3.0          4.0       NaN         4.0      4.0
Mandy               NaN          9.0       NaN         3.0      8.0
Lenny               2.0          5.0       8.0         9.0      NaN
Joan                3.0          NaN       9.0         4.0      9.0
Tino                1.0          1.0       NaN         9.0      5.0

In [3]:
Q = pd.read_csv('data/Q.csv', index_col=0)
P = pd.read_csv('data/P.csv', index_col=0)
Q = Q[['F1', 'F2']]
P = P[['F1', 'F2']]

In [4]:
Q.T.head() #item factors

    Michael Jackson  Clint Black  Dropdead  Anti-Cimex   Cardi B
F1         0.164060    -0.207666  0.882355    1.569998  0.570041
F2         0.248037     1.421081  0.436072   -0.429204  0.670451

In [5]:
P.head() #user factors

              F1         F2
Alfred  3.820956   3.395762
Mandy   3.710347   7.006197
Lenny   7.113263   3.952502
Joan    5.240167  10.035759
Tino    5.863280   2.197482

### Making Predictions

To make predictions you multiply a given row of $P$ by a column of $Q$.  Perform this operation for all users and items and assign a DataFrame of predicted values

In [6]:
pred_df = P@Q.T

pred_df

        Michael Jackson  Clint Black  Dropdead  Anti-Cimex   Cardi B
Alfred         1.469140     4.032171  4.852237    4.541419  4.454797
Mandy          2.346515     9.185859  6.329049    2.818150  6.812366
Lenny          2.147366     4.139643  8.000000    9.471380  6.704814
Joan           3.348941    13.173421  9.000000    3.919665  9.715601
Tino           1.506984     1.905196  6.131757    8.262171  4.815617

In [8]:
# Measuring Error
(pred_df.iloc[1, 1] - reviews.iloc[1, 1])**2

np.float64(0.034543629342139386)

In [9]:
# Error for all Mandy Predictions
((reviews.iloc[1].dropna() - pred_df.iloc[1].loc[reviews.iloc[1].notnull()])**2).values

array([0.03454363, 0.03306925, 1.41047524])

### Updating the Values

Now, perform the update for matrix $P$ based on the rule:

$$P_{a,b} := P_{a,b} - \alpha \sum_{j \in R_a}^N e_{a,j}Q_{b,j}$$

You will do this for the first factor of Mandy.  This means:

$$P_{1, 0} = -9.019710 - \alpha(e_{1, 1}Q_{1, 0} + e_{1, 3}Q_{3, 0} + e_{1, 4}Q_{4, 0})$$

Use $\alpha = 0.1$, and assign this new value as a float to `P_new`.